<h1><%= t( 'static_pages.about.about_page_header' ) %></h1>
<p><%= t( 'static_pages.about.about_page_desc' ) %></p>
<p><%= t( '.about_page_para' ) %></p>
<ul>
  <li><%= link_to t( 'static_pages.about.about_contact' ), "#" %></li>
  <li><%= link_to t( '.about_gallery' ), "#" %></li>
  <li><%= link_to t( '.about_sign_up' ), "#" %></li>
</ul>
