<h1><%= t('.about_page_header') %></h1>
<p><%= t('.about_page_desc') %></p>
<p><%= t('.about_page_details') %></p>
<ul>
  <li><%= link_to t('.contact_us'), "#" %></li>
  <li><%= link_to t('.gallery'), "#" %></li>
  <li><%= link_to t('.sign_up'), "#" %></li>
</ul>
