<h1 class="title"><%= t('.title') %></h1>
<p class="sub-title"><%= t('.sub_title') %></p>

<figure>
  <%= image_tag("hipsters.jpeg", width: "800px") %>
  <figcaption><%= t('.caption') %></figcaption>
</figure>


<p class="credits"><%= t('.author') %><span class="float-right">Oct. 20, 2014 | 12:04 p.m. EDT</span></p>
<article>
  <%= t('.body_html') %>
</article>