<h1 class="title"><%= t( '.blog_title' ) %></h1>
<p class="sub-title"><%= t( '.blog_sub_title' ) %></p>

<figure>
  <%= image_tag("hipsters.jpeg", width: "800px") %>
  <figcaption><%= t( '.blog_figcaption' ) %></figcaption>
</figure>


<p class="credits"><%= t( '.blog_author' ) %><span class="float-right"><%= t( '.blog_post_time' ) %></span></p>
<article>
  <p><%= t( '.blog_para_1' ) %></p>

  <p><%= t( '.blog_para_2' ) %></p>

  <p><%= t( '.blog_para_3' ) %></p>

  <h3><%= t ( '.blog_header' ) %></h3>

  <p><%= t( '.blog_para_4' ) %></p>

  <p><%= t( '.blog_para_5' ) %></p>

  <p><%= t( '.blog_para_6' ) %></p>
</article>