<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to t('.home_link'), root_path %></li>
      <li><%= link_to t('.about_link'), about_path %></li>
      <li><%= link_to t('.static_blog_link'), static_blog_path %></li>
      <li><%= link_to t('.dynamic_blog_link'), posts_path %></li>
      <li><%= link_to t('.stats'), stats_path %></li>
    </ul>
  </nav>

  <div class="wrapper">
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <p><%= t('.language_options') %></p>
      <ul>
        <li><%= link_to 'English', :locale => :en %></li>
        <li><%= link_to 'Pseudo', :locale => :pseudo %></li>
        <!-- You add links to veiw the page in new locales here-->
        <li><%= link_to 'Deutsch', :locale => :de %></li>
        <li><%= link_to 'Español', :locale => :es %></li>
        <li><%= link_to 'Français', :locale => :fr %></li>
        <li><%= link_to '日本語', :locale => :ja %></li>
        <li><%= link_to '한국어', :locale => :ko %></li>
        <li><%= link_to '中文 (简体)', :locale => :zh_CN %></li>
        <li><%= link_to '中文 (繁體)', :locale => :zh_TW %></li>
      </ul>
    </footer>
  </div>

</body>
</html>
