<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to t('.home_link'), root_path %></li>
      <li><%= link_to t('.about_link'), about_path %></li>
      <li><%= link_to t('.static_blog_link'), static_blog_path %></li>
      <li><%= link_to t('.dynamic_blog_link'), posts_path %></li>
    </ul>
  </nav>

  <div class="wrapper">
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <p><%= t('.language_options') %></p>
      <ul>
        <li><%= link_to 'English', :locale => :en %></li>
        <li><%= link_to '简体中文', :locale => :cn %></li>
        <li><%= link_to 'Pseudo', :locale => :pseudo %></li>
        <!-- You add links to veiw the page in new locales here-->
      </ul>
    </footer>
  </div>

</body>
</html>
